* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    background-color: var(--dark-clr);
    color: #fff;
  }
}

html {
  font-size: 20px;
  color: var(--dark-clr);
  text-rendering: optimizeLegibility;
  font-family: "Inter", sans-serif;
}

:root {
  --main-clr: #11ffb0;
  --small-text-color: rgb(85, 85, 85);
  --dark-clr: #000;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
}

@import "./scss/header";
@import "./scss/nav";
@import "./scss/plan";
@import "./scss/button";
@import "./scss/circle";
